:root {
    --blue: #0088fe;
    --blue-light: #86c7ff;

    --red: #ff3f3f;
    --red-light: #ffa9a9;
}

@font-face {
    font-family: 'regular';
    src: url(static/fonts/SF-Pro-Display-Regular.woff);
}

@font-face {
    font-family: 'bold';
    src: url(static/fonts/SF-Pro-Display-Semibold.woff);
}

.container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    font-family: 'regular';
}

main {
    width: 200px;
    height: 200px;

    background-color: black;
}

main p,
main h1 {
    color: white;
    font-family: 'bold';

    margin: 0;
}

main h1 {
    color: gray;
    font-family: 'bold';
}

.interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 10px;

    height: calc(100% - 20px);
}

.interface .top,
.interface .bottom {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.interface h1 {
    font-size: 1.2rem;
    font-weight: normal;

    margin: 0;
}

#SETUP .serial {
    font-size: 2rem;
}

#SETUP .connect {
    text-align: center;
    color: #8ca104;

    font-size: 1rem;
}

.animate {
    margin-bottom: 5px;

    animation: linear;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: a;
}

@keyframes a {
    0% {
        opacity: 1;
        scale: 1;
    }
    50% {
        opacity: 0.6;
        scale: 1.1;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

#PLACEHOLDER img,
#SMILE img {
    filter: brightness(0) invert();

    height: 70%;
    aspect-ratio: 1/1;
}

.interface .bottom {
    height: 30%;
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

#GOOD {
    opacity: 0.75;
}

.bottom img {
    margin: 10px;
}

.bottom .column {
    display: flex;
    flex-direction: column;
}

.column .small {
    font-size: .9rem;
    opacity: 0.7;
}

.bottom .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: var(--blue-light);

    padding: 6px;
    padding-right: 11px;

    border-radius: 6px;
}

.row.bad {
    background-color: var(--red-light);
}

.row img {
    margin: 2px;
    filter: none !important;
}

.row.bad img {
    filter: invert() !important;
}

.water.neutral {
    font-size: 1.2rem;
    color: var(--blue);
}

.water.bad {
    font-size: 1.2rem;
    color: var(--blue);
    filter: invert();
}