.container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main {
    width: 200px;
    height: 200px;

    background-color: black;
}

main p,
main h1 {
    color: white;
}

.interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 10px;
}

.interface h1 {
    font-size: 1.4rem;
    font-weight: normal;
}

#SETUP .serial {
    font-size: 1.4rem;
}